:root{
	--color-primary: #273469; 
	--color-primary-light: #E4D9FF;
}

*{
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after{
	box-sizing: inherit;
}
html{
	box-sizing: border-box;
	font-size: 62.5%;
}

body{

	font-family: 'Open sans' ,sans-serif;
	font-weight: 400;
	line-height: 1.6;
	// color: var(	--color-primary-light);
	//Linear gradient that spans diagonally around to create gradient look 
	// background-image: linear-gradient(to right bottom, var(--color-primary), #7D8CC4 );
	// background-size: cover;

	// background-repeat: no-repeat;
	height: 100vh;
}


// p{
// 	color: var(--color-primary-light);
// 	font-size: 25rem;
// }

li{
	list-style: none;
}
